<%= form_for(@slide) do |f| %>
  <% if @slide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slide.errors.count, "error") %> prohibited this slide from being saved:</h2>

      <ul>
      <% @slide.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :value => @product.title %>
  </div>
  
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url, :value => @product.image_url %>
  </div>
  
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, :value => product_path(@product) %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :value => @product.description %>
  </div>
  
  <div class="field">
    <%= f.label "Slide No." %><br />
    <%= f.select :slideno, (0..10) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>