<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %>
      prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :features %><br />
<!-- START_HIGHLIGHT -->
    <%= f.text_area :features, rows: 6 %>
<!-- END_HIGHLIGHT -->
  </div>
  <div class="field">
    <%= f.label :description %><br />
<!-- START_HIGHLIGHT -->
    <%= f.text_area :description, rows: 6 %>
<!-- END_HIGHLIGHT -->
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :image_url2 %><br />
    <%= f.text_field :image_url2 %>
  </div>
  <div class="field">
    <%= f.label :image_url3 %><br />
    <%= f.text_field :image_url3 %>
  </div>
  <div class="field">
    <%= f.label :image_url4 %><br />
    <%= f.text_field :image_url4 %>
  </div>
  <div class="field">
    <%= f.label :image_url5 %><br />
    <%= f.text_field :image_url5 %>
  </div>
  <div class="field">
    <%= f.label :image_url6 %><br />
    <%= f.text_field :image_url6 %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <% for cate in Category.find(:all) %>
       <%= check_box_tag "product[category_ids][]", cate.id, category_check(cate) %> <!-- # category_check is a helper method--> 
       <%= cate.name %>
    <% end -%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
