<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- START_HIGHLIGHT -->
<h1><%= t('.title_html') %></h1>
<!-- END_HIGHLIGHT -->

<div id="slide">
	<!-- Start photosgallery-vertical -->
	<div class="sliderkit photosgallery-vertical">
		<div class="sliderkit-nav">						
			<div class="sliderkit-nav-clip">
				<ul>
					<li>  <%= link_to(image_tag("sample-01.jpg"),"#") %> </li>
					<li>  <%= link_to(image_tag("sample-02.jpg"),"#") %> </li>
					<li>  <%= link_to(image_tag("sample-03.jpg"),"#") %> </li>
					<li>  <%= link_to(image_tag("sample-04.jpg"),"#") %> </li>
					<li>  <%= link_to(image_tag("sample-05.jpg"),"#") %> </li>
					<li>  <%= link_to(image_tag("sample-06.jpg"),"#") %> </li>
					<li>  <%= link_to(image_tag("sample-07.jpg"),"#") %> </li>
				</ul>
			</div>
			<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
			<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>
		</div>
		<div class="sliderkit-panels">
			<div class="sliderkit-panel">
				<%= link_to(image_tag("sample-01.jpg"),"#") %>
				<div class="sliderkit-panel-textbox">
					<div class="sliderkit-panel-text">
						<h4>sample-01.jpg</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					</div>
					<div class="sliderkit-panel-overlay"></div>
				</div>
			</div>
			<div class="sliderkit-panel">
				<%= link_to(image_tag("sample-02.jpg"),"#") %>
				<div class="sliderkit-panel-textbox">
					<div class="sliderkit-panel-text">
						<h4>sample-02.jpg</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
					</div>
					<div class="sliderkit-panel-overlay"></div>
				</div>
			</div>
			<div class="sliderkit-panel">
				<%= link_to(image_tag("sample-03.jpg"),"#") %>
				<div class="sliderkit-panel-textbox">
					<div class="sliderkit-panel-text">
						<h4>sample-03.jpg</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt.</p>
					</div>
					<div class="sliderkit-panel-overlay"></div>
				</div>
			</div>
			<div class="sliderkit-panel">
				<%= link_to(image_tag("sample-04.jpg"),"#") %>
				<div class="sliderkit-panel-textbox">
					<div class="sliderkit-panel-text">
						<h4>sample-04.jpg</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>
					</div>
					<div class="sliderkit-panel-overlay"></div>
				</div>
			</div>
			<div class="sliderkit-panel">
				<%= link_to(image_tag("sample-05.jpg"),"#") %>
				<div class="sliderkit-panel-textbox">
					<div class="sliderkit-panel-text">
						<h4>sample-05.jpg</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
					</div>
					<div class="sliderkit-panel-overlay"></div>
				</div>
			</div>
			<div class="sliderkit-panel">
				<%= link_to(image_tag("sample-06.jpg"),"#") %>
				<div class="sliderkit-panel-textbox">
					<div class="sliderkit-panel-text">
						<h4>sample-06.jpg</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
					</div>
					<div class="sliderkit-panel-overlay"></div>
				</div>
			</div>
			<div class="sliderkit-panel">
				<img src="../lib/images/photos/sample-07.jpg" alt="[Alternative text]" />
				<div class="sliderkit-panel-textbox">
					<div class="sliderkit-panel-text">
						<h4>sample-07.jpg</h4>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
					</div>
					<div class="sliderkit-panel-overlay"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- // end of photosgallery-vertical -->
</div>

<% @products.each do |product| %>
  <%= link_to(image_tag(product.image_url,:class => "thumb_80"),
            product) %>
  <div class="entry">
    <h3><%= product.title %></h3>
    <p><%= sanitize(product.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
<!-- START_HIGHLIGHT -->
      <%= button_to t('.add_html'), line_items_path(product_id: product),
# END_HIGHLIGHT
        remote: true %>
    </div>
    
  </div>
<% end %>