<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<!-- START_HIGHLIGHT -->
<h1><%= t('.title_html') %></h1>
<!-- END_HIGHLIGHT -->

<div id="slide">
	<!-- Start photosgallery-vertical -->
	<% max = 0 %>
	<% @slides = Slide.all %>
	<% @slides.each do |slide|%>
		<% if max< slide.slideno %>
			<% max = slide.slideno %>
		<%end%>
	<% end%>
	<div class="sliderkit photosgallery-vertical">
		<div class="sliderkit-nav">						
			<div class="sliderkit-nav-clip">
				<ul>
					<% for i in 1..max%>
						<% @slide = Slide.find_by_slideno(i) %>
						<li>  <%= link_to(image_tag(@slide.image_url),@slide.url) %> </li>
					<% end %>
				</ul>
			</div>
			<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-prev"><a rel="nofollow" href="#" title="Previous line"><span>Previous</span></a></div>
			<div class="sliderkit-btn sliderkit-nav-btn sliderkit-nav-next"><a rel="nofollow" href="#" title="Next line"><span>Next</span></a></div>
		</div>
		<div class="sliderkit-panels">
			<% for i in 1..max%>
				<div class="sliderkit-panel">				
					<% @slide = Slide.find_by_slideno(i) %>
					<li>  <%= link_to(image_tag(@slide.image_url),@slide.url) %> </li>
					<div class="sliderkit-panel-textbox">
						<div class="sliderkit-panel-text">
							<h4><%= @slide.title%> </h4>
							<%= truncate(strip_tags(@slide.description),
               length: 80) %>
						</div>
					<div class="sliderkit-panel-overlay"></div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<!-- // end of photosgallery-vertical -->
</div>

<% @products.each do |product| %>
  <%= link_to(image_tag(product.image_url,:class => "thumb_80"),
            product) %>
  <div class="entry">
    <h3><%= product.title %></h3>
    <p><%= sanitize(product.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price) %></span>
<!-- START_HIGHLIGHT -->
      <%= button_to t('.add_html'), line_items_path(product_id: product),
# END_HIGHLIGHT
        remote: true %>
    </div>
    
  </div>
<% end %>